/* -------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------- */

/* Color definitions and color modes */
:root[color-mode="light"] {
  --surface1: #e6e6e6;
  --surface2: #f2f2f2;
  --surface3: #ffffff;
  --element1: #111111;
  --element2: #222222;
  --element3: #333333;
  --elementInverse: #eee;
  --primary: #01408e;
  --secondary: #3c5d5c;
  --tertiary: #fff7d6;
  --box-shadow: 20px 20px 60px #cacaca, -20px -20px 60px #ffffff;
  --blackbox: 230, 230, 230;
}

:root[color-mode="dark"] {
  --surface1: #262626;
  --surface2: #333333;
  --surface3: #404040;
  --element1: #eeeeee;
  --element2: #dddddd;
  --element3: #cccccc;
  --elementInverse: #111;
  --primary: #8fceff;
  --secondary: #72faca;
  --tertiary: #eee8a9;
  --box-shadow: 20px 20px 60px #1d1d1d, -20px -20px 60px #272727;
  --blackbox: 38, 38, 38;
}

/* -------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------- */

/* BODY */
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: auto;
  background: url("/images/downpour.png"),var(--surface1);
  background-position-x: 50%;
  background-repeat: repeat-y;
  background-size: 200px;
}   

/* -------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------- */

/* MISC ITEMS */

/* Border box inheritance */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

/* Hover items on content area (MIGHT NEED TIDYING) */
.sidebar-left a:hover, .sidebar-left span:hover,  .dropdown-content a:hover, nav a:hover, footer a:hover {
  color: var(--primary);
  transition: color 0.5s;
  cursor: pointer;
}

/* Active items on content area (MIGHT NEED TIDYING) */
#sidebar-left .active, .dropdown-content .active, nav .active {
  color: var(--primary);
}

h1, h2, h3 {
  padding: 0px;
  margin: 0px;
}

/* -------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------- */

/* DARK MODE TOGGLE*/
.theme-switch-wrapper {
  display: grid;
  grid-area: avatar;
  position:absolute; top:0; right:0;
  align-items: right;
  padding-top: 0.5em;
  padding-right: 0.5em;

}
.theme-switch {
  display: inline-block;
  height: 17px;
  position: relative;
  width: 30px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: var(--element1);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: var(--surface1);
  bottom: 2px;
  left: 2px;
  content: "";
  height: 13px;
  width: 13px;
  position: absolute;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--element1);
}

input:checked + .slider:before {
  transform: translateX(13px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* -------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------- */

/* AVATAR */
.avatar {
  grid-area: avatar;
  border-radius: 50%;
  max-width: 200px;
  max-height: 200px;
  height:auto;
  width: auto;
  margin: auto;
  margin-top: 0.5em;
  padding: auto;
  z-index: 1;
}

/* AVATAR */
.blackbox {
  grid-area: avatar;
  background-image: linear-gradient(rgba(var(--blackbox),1) 30%, rgba(255,0,0,0) 70%);
  background-position: top center;
  background-size: 100px;
  z-index: -1;
}

/* -------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------- */

/* HEADER */
header {
  grid-area: header;
  background-color: rgba(var(--blackbox),0.8);
  color: var(--element3);
  text-align: center;
  margin-bottom: 1em;
  margin-top: 0.5em;
}

/* -------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------- */

/* HORIZONTAL NAVIGATION */
#nav {
  grid-area: navbar;
}

nav {
  background-color: var(--surface2);
  color: var(--element1);
  border-radius: 1em;
  text-align: center;
  user-select: none;
}

nav ul {
  display: inline-block;
  padding-inline-start: 0px;
}

nav li {
  display: inline;
  border-right: 1px solid var(--element3);
}

nav li:last-child {
  border-right: none;
}

nav a {
  list-style-type: none;
  text-decoration: none;
  color: var(--element3);
  padding: 1em;
}

/* -------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------- */

/* SIDE NAVIGATION */
/* maybe re add this if it breaks .sidebar-left */
#sidebar-left {
  grid-area: side;
  background-color: var(--surface2);
  color: var(--element1);
  border-radius: 1em;
  text-align: left;
  user-select: none;
}

.sidebar-left {
  padding: 1em;
}

.sidebar-left ul {
  padding: 0px;
  margin: 0px;
}

.sidebar-left li {
  display: block;
}

.sidebar-left a {
  list-style-type: none;
  text-decoration: none;
  color: var(--element3);
}

/* ------------------------------------------ */

/* Show desktop/Hide mobile navigation by default*/
.mobile-nav-btn{
  display: none;
}
.desktop-nav-title {
  display: block;
}
 /* Show navigation content by default */
.side-nav-content {
  display: block;
}

/* ------------------------------------------ */

/* NAVIGATION PANE SUBMENUS */
/* Create the caret/arrow with a unicode, and style it */
.dropdown-btn::before {
  content: "\25B6";
  display: inline-block;
  margin-right: 6px;
}
 /* Style the menu caret */
 .dropdown-btn {
  cursor: pointer;
  user-select: none; /* Prevent text selection */
}
/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.dropdown-btn-down::before {
  transform: rotate(90deg);
}
/* dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  background-color: var(--surface3);
  border-radius: 1em;
  padding: 1em;
}

.dropdown-content a {
  padding-left: 1.3em;
  padding-right: 1.3em;
}

 /* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
 .downlist {
  display: block;
}

/* -------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------- */

/* MAIN BODY CONTENT */
.content, .about-me-content, .contact-content, .gallery-content, .links-content, .steroid-calc-content, .steroid-about-content {
  grid-area: body;
  padding: 1em;
  text-align: left;
  line-height: 1em;
  border-radius: 1em;
  background-color: var(--surface2);
  color: var(--element3);
}

/* Links on sub pages */
.links-content a { line-height: 1.5em; text-decoration: none; color: var(--element3);}
.links-content a:visited { text-decoration: none; color:var(--secondary);}
.links-content a:hover { text-decoration: none; color:var(--primary); }
.links-content a:focus { text-decoration: none; color:var(--primary); }
.links-content a:hover, a:active { text-decoration: none; color:var(--primary) }

.steroid-calc-content a { line-height: 1.5em; text-decoration: none; color: var(--element3);}
.steroid-calc-content a:visited { text-decoration: none; color:var(--element3);}
.steroid-calc-content a:hover { text-decoration: none; color:var(--primary); }
.steroid-calc-content a:focus { text-decoration: none; color:var(--primary); }
.steroid-calc-content a:hover, a:active { text-decoration: none; color:var(--primary) }

.steroid-about-content a { line-height: 1.5em; text-decoration: none; color: var(--element3);}
.steroid-about-content a:visited { text-decoration: none; color:var(--element3);}
.steroid-about-content a:hover { text-decoration: none; color:var(--primary); }
.steroid-about-content a:focus { text-decoration: none; color:var(--primary); }
.steroid-about-content a:hover, a:active { text-decoration: none; color:var(--primary) }

/* -------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------- */

/* FOOTER */
footer {
  grid-area: footer;
  text-align: center;
  color: var(--element3);
  background-color: rgba(var(--blackbox),0.8);
  padding: 0.5em;
  margin-top: -0.5em;
}

footer a {
  color: var(--element3);
  transition: color 0.5s;
}

/* -------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------- */

/* GRID DEFINITIONS */
.grid {
  display: grid;
  height: 100vh;
  max-width: 100vw;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto 1fr auto;
  grid-gap: 0.5rem;
  grid-template-areas: 
  "avatar" 
  "header"
  "navbar"
  "content"
  "footer";
 }

 .subgrid {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  grid-gap: 0.5rem;
  grid-template-areas: 
  "side body"
  "side body";
}

/* Turn content section into single column on smaller screens */
@media only screen and (max-width: 480px)  {
  .subgrid {
    display: grid;
    grid-gap: 0em;
    grid-row-gap: 0.5em;
    grid-template-columns: 1fr;
    grid-template-areas:
   "side"
   "body";
  }
  /* Collapse nav by default */
  .side-nav-content {
    display: none;
  }
   /* Show the nav when user clicks navbar */
 .downlist2 {
  display: block;
  }
  /* Show mobile nav menu */
  .mobile-nav-btn{
    display: block;
    cursor: pointer;
  }
  /* Collapse desktop nav title */
  .desktop-nav-title {
    display: none;
  }
  .content, .about-me-content, .contact-content, .gallery-content, .links-content, .steroid-calc-content, .steroid-about-content, #sidebar-left, nav {
    border-radius: 0;
  }
}

/* Contact form */
.contact-content {
  display: grid;
  grid-gap: 0.5em;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas: "a1 a2"
                       "b1 b2"
                       "c1 c1"
                       "d1 d2";
}

/* Steroid-calc */
.steroid-calc-content {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas: "sca"
                       "scb"
                       "scc"
                       "scd";
}

/* -------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------- */

/* CONTACT FORM */

._name {
  display: grid;
  grid-area: b1;
}

input[type=text] {
  background-color: var(--surface3);
  color: var(--element3);
  padding: 0.5em;
  border: none;
  min-width: 1fr;
}

/* Main text area */
.subject {
  display: grid;
  grid-area: c1;
}

/* Additional div to make contact form flexbox */
.flexform {
  display: flex;
}

textarea[name=subject] {
  resize: none;
  flex: 1;
  background-color: var(--surface3);
  color: var(--element3);
  border: none;
  padding: 0.5em;
}

/* Submit button */
.submit {
  display: grid;
  grid-area: d1;
  justify-self: left;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: var(--surface3);
  color: var(--element3);
  padding: 0.5em;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: var(--surface1);
  color: var(--element3);
}

.contact-version {
  display: grid;
  grid-area: a2;
  background-color: var(--surface2);
  color: var(--element3);
  justify-self: right;
}

/* -------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------- */

/* STEROID-CALC */
/* Places it in the body of the subgrid */
.steroid-calc-content {
  grid-area: body;
}

.steroid-calc-header {
  display: grid;
  grid-area: sca;
  padding-bottom: 1em;
}

.steroid-calc-version {
  display: grid;
  grid-area: sca;
  background-color: var(--surface2);
  color: var(--element3);
  justify-self: right;
}

.steroid-calc-inputs {
    display: grid;
    grid-area: scb;
}

.graph-div {
  display: grid;
  grid-area: scc;
}

.steroid-calc-about {
  display: grid;
  grid-area: scd;
}

.small-12 {
  position: relative;
  width: auto;
}

.row {
width: 1fr;
margin-left: auto;
margin-right: auto;
margin-top: 0;
margin-bottom: 0;
max-width: 62.5rem;
*zoom: 1;
}

.row:before, .row:after {
content: " ";
display: table;
}

.row:after {
clear: both;
}

.row.collapse > .column,
.row.collapse > .columns {
position: relative;
padding-left: 0;
padding-right: 0;
float: left;
}

.row.collapse .row {
margin-left: 0;
margin-right: 0;
}

.row .row {
width: auto;
margin-left: -0.9375rem;
margin-right: -0.9375rem;
margin-top: 0;
margin-bottom: 0;
max-width: none;
*zoom: 1;
}

.row .row:before, .row .row:after {
content: " ";
display: table;
}

.row .row:after {
clear: both;
}

.row .row.collapse {
width: auto;
margin: 0;
max-width: none;
*zoom: 1;
}

.row .row.collapse:before, .row .row.collapse:after {
content: " ";
display: table;
}

.row .row.collapse:after {
clear: both;
}

.single-compound-div {
margin-bottom: 1.5rem;
}

#cycle-plot {
height: 18.75rem;
z-index: 90;
margin-bottom: 1rem;
}

#flot-label {
margin-top: 0.37rem;
}

#cycle-header {
text-align: center;
margin-top: 1rem;
}

.chart-tooltip {
margin-top: -3.0rem;
margin-left: 0.7rem;
padding: 0.4rem 0.7rem;
color: #ddd;
background: #222;
border-width: 1px;
border-style: solid;
border-color: #444;
-webkit-border-radius: 0.3125rem;
border-radius: 0.3125rem;
}

.xAxis .tickLabel {
margin-top: 0.3125rem;
}

#about-div { 
justify-content: center;
align-items: center;
outline: 1px dashed #A40707;
outline-offset: 0px;
padding: 10px;
margin-bottom: 20px;
}

.hide {
display: none;
}

/* Standard forms */
form {
  margin: 0 0 1rem;
}

/* Using forms within rows, we need to set some defaults */
form .row .row {
  margin: 0 -0.5rem;
}

form .row .row .column,
form .row .row .columns {
  padding: 0 0.5rem;
}

form .row .row.collapse {
  margin: 0;
}

form .row .row.collapse .column,
form .row .row.collapse .columns {
  padding: 0;
}

form .row .row.collapse input {
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-topright: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-top-right-radius: 0;
}

form .row input.column,
form .row input.columns,
form .row textarea.column,
form .row textarea.columns {
  padding-left: 0.5rem;
}

/* Labels */
label {
  font-size: 0.875rem;
  color: rgba(189, 189, 189, 0.87);
  cursor: pointer;
  display: block;
}

label.right {
  float: none;
  text-align: right;
}

label.inline {
  margin: 0 0 1rem 0;
  padding: 0.625rem 0;
}

label small {
  text-transform: capitalize;
  color: rgba(189, 189, 189, 0.87);
}

.about-div {
  color: rgba(189, 189, 189, 0.87);
}

.small-4 {
  position: relative;
  width: 33.33333%;
}

.small-8 {
  position: relative;
  width: 66.66667%;
}

.small-12 {
  position: relative;
  width: auto;
}

.column, .columns {
  position: relative;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  float: left;
}

.hide {
  display: none;
}

select, .dose{
  width: 1fr;
}