html, body {
  background-color: #121212;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /*background: linear-gradient(to right, orange 40%, blue 75%);*/
  /*background-size: auto, auto;*/
  /*min-height: calc(100vh - 100px);*/
  margin: auto;
  line-height: auto;
  cursor: pointer;
}

/* Links */
.content a { text-decoration: none; color: rgba(189, 189, 189, 0.87);}
.content a:visited { text-decoration: none; color:white;}
.content a:hover { text-decoration: none; color:white; }
.content a:focus { text-decoration: none; color:white; }
.content a:hover, a:active { text-decoration: none; color:white }

/* Headers */
h1, h2, h3 {
  padding: 0px;
  margin: 0px;
}

/* Main colour and style pallete for content*/
nav, .sidebar-left, .content {
  background-color: #212121;
  color: rgba(189, 189, 189, 0.87);
  border-radius: 32px;
}

/* Hover items on content area */
.sidebar-left a:hover, .dropdown-content a:hover, nav a:hover, footer a:hover {
  color: #FF851B;
  transition: color 0.3s;
}

/* Active items on content area */
.sidebar-left .active, .dropdown-content .active, nav .active {
  color: #FF851B;
}

.avatar {
  grid-area: avatar;
  border-radius: 50%;
  max-width: 150px;
  max-height: 150px;
  height:auto;
  width: auto;
  margin: auto;
  padding: 1em;
}

header {
  grid-area: header;
  /*background-color: #212121;
  border-radius: 32px;*/
  color: rgba(189, 189, 189, 0.87);
  text-align: center;
  margin-top: -1em;
}

nav {
  grid-area: navbar;
  text-align: center;
}

nav ul {
  display: inline-block;
  padding-inline-start: 0px;
}

nav li {
  display: inline;
  border-right: 1px solid rgba(189, 189, 189, 0.87);
}

nav li:last-child {
  border-right: none;
}

nav a {
  list-style-type: none;
  text-decoration: none;
  color: rgba(189, 189, 189, 0.87);
  padding: 1em;
}

.subgrid {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: "side body";
  grid-gap: 0.5rem;
}

.sidebar-left {
  grid-area: side;
  text-align: center;
  padding: 1em;
}

.sidebar-left ul {
  display: inline;
  padding: 0px;
  margin: 0px;
}

.sidebar-left li {
  display: block;
}

.sidebar-left a {
  list-style-type: none;
  text-decoration: none;
  color: rgba(189, 189, 189, 0.87);
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  background-color: #242424;
  border-radius: 32px;
  text-align: left;
  padding: 1em;
  transform: translateX(-100%);
  animation: dropIn 0.4s forwards;
}

/* Links inside the dropdown */
.dropdown-content a {
  display: block;
}

@keyframes dropIn {
  100% { transform: translateX(0%); }
} 

.content {
  grid-area: body;
  padding: 1em;
  text-align: left;
}

footer {
  grid-area: footer;
  text-align: center;
  color: rgba(189, 189, 189, 0.87);
  margin-top: -1em;
  padding: 1em;
}

footer a {
  box-sizing: border-box;
  padding: auto;
  color: #BDBDBD;
  transition: color 0.5s;
}

.grid {
  display: grid;
  height: 100vh;
  max-width: 100vw;
  border: auto solid #BDBDBD;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto 1fr auto;
  grid-gap: 0.5rem;
  grid-template-areas: "avatar" 
                       "header"
                       "navbar"
                       "content"
                       "footer";
 }

/* CONTACT FORM */
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  grid-area: first last country;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: white;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.5s;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #BDBDBD;
  color: black;
}

/* Add a background color and some padding around the form */
.contactform {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-areas: "first last country"
                       "subject"
                       "submit";
  grid-gap: 1rem;
  background-color: #212121;
  color: #BDBDBD;
  border-radius: 32px;
  padding: 20px;
}